<div class="modal fade" id="modalReleaseDetail" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content release-detail-modal">
            <div class="modal-header p-2">
                Spotify Preview
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body p-0">
                <div class="d-flex flex-fill justify-content-center align-items-center" id="modalReleaseDetailBody"></div>
            </div>
        </div>
    </div>
</div>