{% extends "feed/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="row">
        <div class="col mb-4">
            <h4 id="artistListHeader">Artists Included in Search (0)</h4>
            <div class="container artists-added-body mt-4" id="addedArtists"></div>
        </div>
    </div>
    <div class="row mt-2 mb-1 align-items-center">
        <div class="col-12 col-md-auto mt-2">
            <button class="btn btn-secondary btn-sm" id="addArtistsToSearchButton" data-toggle="modal" data-target="#modalAddArtistToSearch">
                <i class="fas fa-plus mr-1"></i>
                Add Artists
            </button>
        </div>
        <div class="col-12 col-md-auto mt-2">
            <button class="btn btn-secondary btn-sm mr-2" id="clearAddedArtists">
                <i class="far fa-times-circle mr-1"></i>
                Clear
            </button>
            {% if user.is_authenticated %}
                <button class="btn btn-secondary btn-sm" id="saveAddedArtistsButton">
                    <i class="far fa-bookmark mr-1"></i>
                    Save
                </button>
            {% else %}
                <button class="btn btn-secondary btn-sm" id="anonymousSaveArtistsButton">
                    <i class="far fa-bookmark mr-1"></i>
                    Save
                </button>
            {% endif %}
        </div>
        <div class="col-12 col-md-auto mt-2">
            <footer class="text-muted">The more artists you add, the longer the search will take</footer>
        </div>
    </div>
    <div class="row mb-4 align-items-center">
        <div class="col-auto mt-2">
            <form id="getReleasesForm" data-ajax-url="{% url 'feed-ajax-get-releases' %}">
                <button class="shadow-sm btn btn-primary" id="getRealeasesButton" type="submit">Search</button>
            </form>
        </div>
    </div>

    {% include 'feed/snippets/release_detail_snippet.html' %}
    <div class="row" id="releasesTableRow" style="display: none;">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Image</th>
                    <th scope="col">Name</th>
                    <th scope="col">Artists</th>
                    <th scope="col">Release Date</th>
                </tr>
            </thead>
            <tbody id="releasesTableBody"></tbody>
          </table>
    </div>
    <div class="row" id="releasesMessage" style="display: none;"></div>
    <div id="releasesLoadingSpinner" class="releases-loading-spinner justify-content-center" style="display: none;">
        <div class="spinner spinner-border m-4" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div class="modal fade" id="modalAddArtistToSearch" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="modalArtistAddTitle">Add Artists to Search</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    
                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="pills-search-tab" data-toggle="pill" href="#pills-search" role="tab" aria-controls="pills-search" aria-selected="true">Search</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-saved-tab" data-toggle="pill" href="#pills-saved" role="tab" aria-controls="pills-saved" aria-selected="false">Saved</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-followers-tab" data-followers-url="{% url 'feed-ajax-get-followers' %}" data-toggle="pill" href="#pills-followers" role="tab" aria-controls="pills-followers" aria-selected="false">Following</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade" id="pills-saved" role="tabpanel" aria-labelledby="pills-saved-tab">
                            {% if user.is_authenticated %}
                                <div class="list-group" id="artistGroupsList" data-ajax-url="{% url 'feed-ajax-get-artists' %}">
                                    {% if artistgroups %}
                                        {% for group in artistgroups %}
                                            <li class="list-group-item">
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="d-flex col align-items-center">
                                                            <a href="{% url 'feed-saved-search-detail' pk=group.id %}">{{ group.name }}</a>
                                                        </div>
                                                        <div class="d-flex col align-items-center">
                                                            <button type="button" class="btn btn-link add-group-button" data-group-id="{{ group.id }}" id="addGroupToForm">Add to Search</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        {% endfor %}
                                    {% else %}
                                        <h6 class="">Save your searches to quickly access them later</h6>
                                    {% endif %}
                                </div>
                            {% else %}
                                <h6><a href="{% url 'account_login' %}">Login</a> or <a href="{% url 'account_signup' %}">Register</a> to save the current list of artists</h6>
                            {% endif %}
                        </div>
                        <div class="tab-pane fade" id="pills-followers" role="tabpanel" aria-labelledby="pills-followers-tab">
                            {% if spotify_connected %}
                                <div id="followersLoadingSpinner" class="followers-loading-spinner justify-content-center" style="display: none;">
                                    <div class="spinner spinner-border m-4" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                </div>
                                <div class="container-fluid release-search-setup-content" id="spotifyFollowersList" data-filled="false"></div>
                                <button type="button" id="spotifyFollowersRetryButton" class="btn btn-secondary btn-small mt-2" style="display: none">Retry</button>
                                <button type="button" class="btn btn-secondary btn-sm add-all-followed-button mt-2" style="display: none">Add All</button>
                            {% else %}
                                <h6><a href="{% url 'socialaccount_connections' %}">Connect</a> your Spotify account to add from your followed artists</h6>
                            {% endif %}
                        </div>
                        <div class="tab-pane fade show active" id="pills-search" role="tabpanel" aria-labelledby="pills-search-tab">
                            <div class="container-fluid release-search-setup-content">
                                <form id="spotifyArtistSearchForm" method="GET" class="row my-4" action="{% url 'feed-ajax-spotify-artist-search' %}" accept-charset="UTF-8">
                                    <div class="col">
                                        <input class="form-control" type="search" name="q" id="artistSearchInput" value="" placeholder="Enter name or Spotify URL">
                                    </div>
                                    <div class="col-auto px-0">
                                        <input class="btn btn-primary" type="submit" value="Search">
                                    </div>
                                </form>
                                <ul class="list-group list-group-flush mt-2" id="spotifyArtistSearchResultsList"></ul>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Done</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalNewGroup" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <form id="newGroupNameForm" method="POST" data-ajax-url="{% url 'feed-ajax-save-artist-search' %}">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h4 class="modal-title" id="modalGroupDeleteTitle">New Save</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            {{ new_group_form|crispy }}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" name="save_group" id="modalGroupSaveSubmitButton" type="submit">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalSaveLoginPrompt" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="modalGroupDeleteTitle">Notice</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            Sign in to save a search for later.
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="{% url 'account_login' %}" class="btn btn-primary" name="save_group" id="modalGroupSaveSubmitButton">Login</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
 
{% endblock content %}

{% block scripts %}
{% endblock scripts %} 