{% extends "feed/base.html" %}
{% block content %}
    <div class="row">
        <div class="col-12 col-md-6 mb-4 release-search-setup">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Groups</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">None</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">None</a>
                </li>
            </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                        <div class="list-group">
                            {% for group in artistgroups %}
                                <li class="list-group-item">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col">
                                                <a href="#">{{ group.name }}</a>
                                            </div>
                                            <div class="d-flex col align-items-center">
                                                <button type="button" class="btn btn-link add-group-button" data-group-id="{{ group.id }}" id="addGroupToForm">Add to Search</button>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">...</div>
                    <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">...</div>
            </div>
        </div>
        <div class="col-12 col-md-6 mb-4 release-search-setup">
            <h4>Artists to include in search:</h4>
            <div class="container artists-added-body mt-3" id="addedArtists"></div>
            <div class="d-flex align-items-center">
                <button class="btn btn-danger btn-small mt-2 mr-4" id="clearAddedArtists">Clear</button>
                <footer class="text-muted">The more artists you add, the longer the search will take</footer>
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <form id="getReleasesForm"> <!-- method="GET" id="addedElementsForm" action=""> -->
            <button class="btn btn-primary btn-lg ml-2" id="getRealeasesButton" type="submit">Get Releases</button>
        </form>
    </div>
    <div class="row">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Image</th>
                <th scope="col">Name</th>
                <th scope="col">Artists</th>
                <th scope="col">Date Released</th>
              </tr>
            </thead>
            <tbody id="releasesTableBody"></tbody>
          </table>
    </div>
 
{% endblock content %}

{% block scripts %}

    <script>
        var artists_obj = { artists: [] }
        $(document).ready(function() {
            $('.add-group-button').click(function() {
                var group_id = $(this).data('group-id')
                $.ajax( {
                    type:"GET",
                    url: "{% url 'feed-ajax-get-artists' %}",
                    data:{
                        type: 'artist_group',
                        id: group_id
                    },
                    success: function( response ) {
                        var artists_response = JSON.parse(response['artists'])
                        artists_response.forEach(function (arrayItem) {
                            if (!artists_obj.artists.some(item => item.spotify_id === arrayItem.fields.spotify_id)) {
                                $('#addedArtists').append(
                                        '<div class="d-flex align-items-center" id="'+arrayItem.fields.spotify_id+'">' +
                                            '<img class="rounded-circle img-added-artist mr-2" src="'+arrayItem.fields.img_url+'">' +
                                            '<div class="mr-auto">'+arrayItem.fields.name+'</div>' +
                                            
                                            '<button type="button" class="btn bg-transparent remove-added-artist" data-artist-id="'+arrayItem.fields.spotify_id+'">' +
                                                '<i class="fas fa-times"></i>'+
                                            '</button>' +
                                            
                                        '</div>')

                                artists_obj.artists.push(arrayItem.fields)
                            }
                        });
                    }
                });
            });
        });

        $(document).ready(function() {
            $(document).on('click', '.remove-added-artist', function() {
                var id = $(this).data('artist-id')
                var index = artists_obj.artists.findIndex(function(item, i){
                    return item.spotify_id === id
                });
                if (index != -1) {
                    $('#'+id).remove()
                    artists_obj.artists.splice(index, 1)
                } else {
                    alert("Error: Artist not found")
                }
            });
        });

        $(document).ready(function() {
            $(clearAddedArtists).click(function() {
                artists_obj = { artists: [] }
                $("#addedArtists").empty()
            });
        });

        $(document).ready(function() {
            $('#getReleasesForm').submit(function() { // catch the form's submit event
                $("#releasesTableBody").empty()
                $.ajax({ // create an AJAX call...
                    data: {'artists': JSON.stringify(artists_obj.artists)}, // get the form data
                    dataType: 'json',
                    type: 'POST', // GET or POST
                    url: "{% url 'feed-ajax-get-releases' %}", // the file to call
                    success: function(response) { // on success..
                        if (response.success) {
                            if (response.error) alert(response.error)
                            response.releases.forEach(function(release) { 
                                var artist_str = ""
                                var index = 0
                                
                                release.artists.forEach(function(artist) { 
                                    if (index == 0) {
                                        artist_str += artist.name
                                    } else {
                                        artist_str += ', '+artist.name
                                    }
                                    index += 1;
                                });
                                $("#releasesTableBody").append(
                                    '<tr>' + 
                                        '<td>' +
                                            '<img class="rounded img-release-list" src="'+ release.images[0].url +'">' +
                                        '</td>' +
                                        '<td>' +
                                            release.name +
                                        '</td>' +
                                        '<td>' +
                                            artist_str +
                                        '</td>' +
                                        '<td>' +
                                            release.release_date +
                                        '</td>' +
                                    '</tr>'
                                );
                            });
                            
                        } else {
                            alert("Error getting releases")
                        }
                        
                    },
                    error: function(resp) {
                        alert(resp)
                    }
                });
                return false;
            });
        })

    </script> 

{% endblock scripts %} 